.sums-div {
  font-family: "Montserrat-Regular";
  float: right;
  top: 130px;
  text-align: center;
  border: solid 2px rgb(100, 100, 100);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  position: relative;
}

#order-items:hover {
  border: 1px solid black;
}

.quantity-input {
  width: 80px;
  text-align: center;
}

.button {
 margin-top: 0;
}