.sums-div {
  font-family: "Montserrat-Regular";
  float: right;
  margin-bottom: 100px;
  text-align: center;
  border: solid 2px rgb(100, 100, 100);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  position: relative;
}