@font-face {
  font-family: "Roboto-Bold";
  src: url("/fonts/Roboto-Bold.ttf");
}
h1{
    font-family: 'Helvetica-Light';

}
h2{  font-family: 'Helvetica-Light';
}
.error-background{
background: url("/img/plant4.jpeg") center center scroll;
  background-repeat: repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  opacity: 0.3;

  width: 100%;

  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
}
body {
background:url("/img/cactus2.gif")no-repeat center center fixed;
background-size: 280px 280px;
  position: relative;
  z-index: -1;
  top: 0;
  bottom: 0;
    font-family: 'Helvetica-Light';
}
main{
  position: relative;
top:150px;
}
footer img {
  height: 25px;
  opacity: 0.9;
  position: inline;
  margin-right: 10px;
  width: 25px;
}

.footer {
  background-color: rgb(97, 97, 97);
  font-family: "Montserrat-Regular";
  font-size: 12px;
  color: white;
  padding: 10px 0 20px 30px;
  width: 100%;
  bottom:0;
   position: absolute;
    bottom: 0;
}
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
#buttons{
margin:0 auto;
width:440px;

}
#main:hover {
          background-color: rgb(63, 87, 68);
          color: white;
          }
#main{
font-family: "Roboto-Light";
          margin:10px;
                                         text-align: center;
                                         font-size: 23px;
                                         background-color: transparent;
                                         border: solid 1px grey;
                                         color: grey;
                                         text-transform: none;
}
#back:hover{background-color: rgb(63, 87, 68);
                      color: white;}
#back{
font-family: "Roboto-Light";
          margin:10px;
                                         text-align: center;
                                         font-size: 23px;
                                         background-color: transparent;
                                         border: solid 1px grey;
                                         color: grey;
                                         text-transform: none;}