body{
background-color:#F5F5F5;}

.menu_div{
    font-family: 'webshopFontMedium';
    background-color:#F5F5F5;
    width: 100%;
position:center;
}

.logo-img{
  cursor: pointer;
  height: 80px;
}

.dropbtn {
    font-family: 'webshopFontMedium';
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    font-family: 'webshopFontMedium';
    background-color: #2980B9;
  }
  
  .dropdown {
    font-family: 'webshopFontMedium';
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    font-family: 'webshopFontMedium';
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-family: 'webshopFontMedium';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .menu-button{
  font-family: 'webshopFontMedium';
  padding: 15px 32px;
      text-align: center;
          font-size: 16px;
          cursor: pointer;
              border-radius: 3px;
              background-color: white;
              color: black;
              border: 2px solid #4CAF50;
  }