@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("/fonts/Montserrat-Thin.ttf");
}

body {
  background-color: #F5F5F5;
}

.menu_div {
  font-family: 'Roboto';
  background-color: #F5F5F5;
  width: 100%;
  position: fixed;
  top: 48px;
  opacity: 0.9;
  right: 0;
  z-index: 2;
  max-height: 58px;
  display: inline-flex;
}

.logo-img {
  cursor: pointer;
  width: 77px;
  position: fixed;
  right: 47.5%;
}

.dropbtn, .dropbtn2 {
  font-family: 'Roboto';
  letter-spacing: 3px;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  color: black;
  width: 195px;
  height: 59px;
}

.dropbtn:hover,
.dropbtn:focus,
.dropbtn2:hover,
.dropbtn2:focus {
  font-family: 'Roboto';
  background-color: rgb(98, 126, 104);
  color: white;
}

.dropdown, .dropdown2 {
  font-family: 'Roboto';
  position: relative;
  display: inline-block;
  letter-spacing: 3px;
  font-size: 15px;
}

.dropdown-content, .dropdown-content2 {
  font-family: 'Roboto';
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 195px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a, .dropdown-content2 a {
  font-family: 'Roboto';
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover, .dropdown2 a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.menu-button, .category-button {
  font-family: 'Roboto';
  letter-spacing: 3px;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  color: black;
  width: 195px;
  height: 59px;
}

.menu-button:hover, .category-button:hover {
  background-color: whitesmoke;
}

.free-shipping-div {
  width: 100%;
  height: 34px;
  background-color: rgb(63, 87, 68);
  text-align: center;
  position: fixed;
  z-index: 2;
  color: white;
  font-size: 15px;
  padding-top: 15px;
  font-family: "Roboto-Light";
  letter-spacing: 3px;
}

#message-div {
  position: relative;
  top: 120px;
  width: 100%;
  left: 0;
  font-family: 'Helvetica-Medium';
  font-size: 1rem;
}

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.welcome-div{
  margin-left: 10px;
  padding-top: 21px;
  position: fixed;
  right: 120px;
  font-family: 'Helvetica-Light';
  font-size: 20px;
  letter-spacing: 1px;
}

.menu-button-cart{
  position: fixed;
  right: 30px;
  padding-top: 5px;
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: 17px;
}