meter {
  -webkit-appearance: none;
  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

}

@font-face {
  font-family: "webshopFontMedium";
  src: url("/fonts/Chevin Medium.otf");
}
meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}
input {
  width: 40%;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 2px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}
.container {
  background-color: #f1f1f1;
}

#message {
float:right;
  display:none;
  background: #f1f1f1;
  color: #000;

  padding: 2px;
  margin-top: 5px;
  margin-right:5px;
}

#message p {
  padding: 5px 8px;
  font-size: 18px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: &#10004;
}


.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: #10006;
}
body{ font-family: "webshopFontMedium";}

#left-id{
float:left;
}
