meter {
  -webkit-appearance: none;
  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}
input {
  width: 600px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 6px;
}
h1{
font-family: "Roboto-Light";}

input[type=submit] {font-family: "Roboto-Light";
                        text-align: center;
                        font-size: 23px;
                        background-color: transparent;
                        border: solid 1px grey;
                        color: grey;
                        text-transform: none;
}
input[type=submit]:hover {
    background-color: rgb(63, 87, 68);
    color: white;
    }

.container {
  padding: 10px;
font-family: "Roboto-Light";
}

#message {
float:right;
  display:none;
font-family: "Roboto-Light";

  padding: 2px;
  margin-top: 5px;
}

#message p {
  padding: 5px 8px;
  font-size: 18px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}


.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "x";
}
#left-id{
float:left;
margin-left:-10%;}
.register-background{
background: url("/img/plant4.jpeg") center center scroll;
  background-repeat: repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  opacity: 0.3;

  width: 100%;

  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
}
footer img {
  height: 25px;
  opacity: 0.9;
  position: inline;
  margin-right: 10px;
  width: 25px;
}

.footer {
  background-color: rgb(97, 97, 97);
  font-family: "Montserrat-Regular";
  font-size: 12px;
  color: white;
  padding: 10px 0 20px 30px;
  width: 100%;
  bottom:0;
   position: absolute;
    bottom: 0;
}
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }