@font-face {
  font-family: "webshopFontLight";
  src: url("/fonts/Chevin Light.otf");
}

@font-face {
  font-family: "webshopFontMedium";
  src: url("/fonts/Chevin Medium.otf");
}

@font-face {
  font-family: "webshopFontBold";
  src: url("/fonts/Chevin Bold.ttf");
}

@font-face {
  font-family: "Helvetica-Medium";
  src: url("/fonts/Helvetica-Medium.otf");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("/fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("/fonts/Helvetica-Light.ttf");
}

@font-face {
  font-family: "Helvetica-Italic";
  src: url("/fonts/Helvetica-Italic.ttf");
}

.welcome-pic {
  background: url("/img/Coconut_Bowl_Banner.jpg") no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;

  background-image: url("/img/Coconut_Bowl_Banner.jpg");

  width: 100%;
  height: 800px;
  position: relative;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.clearer {
  clear: both;
}

.div_class_user {
  font-family: "Montserrat-Regular";
  margin-top: 25px;
  background: rgb(223, 223, 223);
  box-sizing: border-box;
  color: #fff;
  float: left;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 16%;
  height: 150px;
}

.div_class_admin {
  font-family: "Montserrat-Regular";
  color: #000000;
  overflow: hidden;
}

.div_class img {
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100px;
}

.disabled,
.button-disabled {
  display: none;
}

.enabled,
.button-enabled {
  display: inline;
}

#new-product-btn {
  font-family: "Helvetica-Medium";
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 185px;
  left: 20px;
  width: 180px;
}

#form-input {
  font-family: "Helvetica-Medium";
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 245px;
  left: 20px;
}

#add-btn {
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  position: relative;
  left: 20px;
}

#new-product-btn img {
  box-sizing: border-box;
  width: 40px;
  padding: 5px;
}

#add-btn:hover {
  background-color: rgb(38, 71, 43);
  color: white;
}

#new-product-btn:hover {
  border-color: rgb(38, 71, 43);
}

.index-product-div {
  font-family: "Montserrat-Regular";
  float: left;
  max-width: 25%;
  margin: 80px;
  overflow: hidden;
  padding: 7px;
  text-align: center;
  background-color: rgb(223, 223, 223);
}

.bold {
  font-family: "Montserrat-Regular";
}

.admin-product-div {
  font-family: "Helvetica-Light";
  float: left;
  width: 23%;
  margin: 50px;
  text-align: center;
  background-color: white;
  min-height: 450px;
  color: rgb(107, 107, 107);
  margin-left: 80px;
}

.admin-product-code,
.admin-user-status {
  font-family: "Helvetica-Medium";
  background-color: rgb(93, 133, 101);
  color: white;
  font-size: 23px;
  padding-top: 25px;
  min-height: 85px;
  vertical-align: middle;
  max-height: 85px;
}

.admin-product-name,
.admin-user-name {
  font-size: 28px;
  padding-top: 10px;
  font-family: "Helvetica-Light";
}

.div_class_admin {
  font-family: "Helvetica-Light";
  color: grey;
  padding-top: 15px;
  font-size: 20px;
}

.users-div {
  font-family: "Roboto";
  float: left;
  width: 23%;
  margin: 50px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  min-height: 320px;
  color: grey;
  margin-left: 80px;
}

.h1-orders {
  font-family: "Montserrat-Regular";
}

.form-input {
  font-family: 'Helvetica-Light';
  width: 150px;
  float: left;
  margin-left: 30px;
}

footer img {
  height: 25px;
  opacity: 0.9;
  position: inline;
  margin-right: 10px;
  width: 25px;
}

.footer {
  background-color: rgb(97, 97, 97);
  font-family: "Montserrat-Regular";
  font-size: 12px;
  color: white;
  padding: 10px 0 20px 30px;
  width: 100%;
}

.products_img {
  height: 300px;
  width: 300px;
}

.index-product-div:hover {
  background-color: rgb(98, 126, 104);
  color: white;
}

.main_div_adminproducts {
  position: absolute;
  top: 270px;
  z-index: 1;
  left: 120px;
}

.main_div_adminproducts_modified {
  position: absolute;
  top: 440px;
  z-index: 1;
  left: 120px;
}

.title {
  position: absolute;
  top: 520px;
  right: 220px;
  z-index: 3;
  width: 250px;
  height: 48px;
  font-family: "Roboto-Light";
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  letter-spacing: 3px;
  text-align: center;
  z-index: -1;
}

.title-two {
  position: absolute;
  top: 568px;
  right: 130px;
  z-index: 3;
  width: 4 50px;
  height: 48px;
  font-family: "Roboto-Light";
  font-size: 30px;
  background-color: rgba(180, 180, 180, 0.4);
  color: black;
  letter-spacing: 3px;
  text-align: center;
  z-index: -1;
}

.div_class_name {
  padding-top: 5px;
}

#main_div {
  position: relative;
  top: 1530px;
}

#main_div_one_order{
  position: relative;
  top: 10px;
}

#main_div_users {
  position: absolute;
  top: 20px;
}

.button {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.users-container {
  position: relative;
  top: 120px;
}

/*html,
body {
  height: 100%;
  position: relative;
}*/
/*
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}*/

.main-container {
  display: block;
  position: relative;
  bottom: 0;
  top: 170px;
}

#myBtn {
  display: none;
  background: transparent url("/img/uparrow.png") no-repeat;
  position: fixed;
  bottom: 15px;
  right: 17px;
  z-index: 99;
  cursor: pointer;
  padding: 28px;
  border: none;
}

#myBtn:hover {}

.basket-main {
  min-height: 690px;
  top: 20%;
  position: relative;
}

.product-img {
  margin: 140px;
  margin-right: 100px;
  margin-left: 150px;
  height: 580px;
  left: 400px;
  float: left;
}

.product-div:hover {
  cursor: pointer;
}

.status-div {
  margin-top: 20px;
  font-size: 15px;
}

.orders-table {
  font-family: "Helvetica-Medium";
  width: 900px;
  border-top: solid 1px grey;
}

#main_div_orders {
  position: relative;
  top: 50px;
  margin-left: 500px;
  margin-bottom: 100px;
  max-width: 900px;
  min-height: 350px;
}

.orders-tbody {
  font-family: "Helvetica-Light";
}

.order-list-summary {
  font-family: "Helvetica-Light";
}

.orders-list-action {
  font-family: "Helvetica-Light";
  margin: 50px;
  height: 100px;
}

.header {
  font-family: "Helvetica-Bold";
  position: relative;
  top: 20px;
  left: 490px;
  font-size: 28px;
  max-width: 500px;
}

.header-div {
  font-family: "Helvetica-Medium";
  position: relative;
  top: 20px;
  left: 490px;
  max-width: 500px;
}

.orders-button {
  border: solid 1px black;
  height: 40px;
  width: 120px;
  margin-left: 100px;
}

.orders-button:hover {
  background-color: rgb(185, 185, 185);
  color: white;
  border: none;
}

.orders-table:hover {
  background-color: rgba(219, 219, 219, 0.281);
}

.orders-list-order {
  font-family: "Helvetica-Bold";
  width: 590px;
}

.orders-list-span {
  font-family: "Helvetica-Light";
  font-style: italic;
  width: 590px;
}

.orders-div {
  font-family: "Montserrat-Regular";
  margin: 90px;
  padding: 20px;
  text-align: center;
  border: solid 2px rgb(100, 100, 100);
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}

.filter-button {
  border: solid 1px black;
  height: 40px;
  min-width: 100px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  left: 13%;
}

.admin-product-filter {
  position: relative;
}

.option-category {
  width: 177px;
  height: 28px;
  margin: 3px;
}

.admin-category-names {
  font-family: Helvetica-Bold;
  left: 6%;
  top: 20px;
  font-size: 30px;
  position: relative;
}

.menu-button-cart {
  padding: 0;
  width: 40px;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: 17px;
}

html {
  scroll-behavior: smooth;
}

.page-title {
  font-family: "Helvetica-Bold";
  position: relative;
  top: 140px;
  bottom: 70px;
  left: 200px;
  max-width: 400px;
}

.product-category {
  position: relative;
  top: 130px;
  left: 150px;
  font-family: "Helvetica-Italic";
  font-size: 13px;
}

.link {
  font-family: "Helvetica-Bold";
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.purchase {
  position: relative;
  top: 40px;
  right: 160px;
  width: 160px;
  font-family: "Helvetica-Medium";
  text-align: center;
  height: 40px;
}

.purchase-quantity {
  position: relative;
  top: -20px;
  width: 160px;
  font-family: "Helvetica-Medium";
  text-align: center;
  height: 40px;
}

.button:hover,
#clear-basket:hover,
#delete-product-basket:hover {
  border: 1px solid black;
}

.purchase:hover,
.rating-button:hover,
.delete-rate:hover {
  background-color: rgb(93, 133, 101);
  color: white;
}

.td-right div {
  position: relative;
  top: 60px;
}

.product-name {
  font-family: "Helvetica-Bold";
  font-size: 40px;
  padding-bottom: 10px;
}

.category {
  font-family: "Helvetica-Medium";
  font-size: 30px;
}

.product-man {
  font-family: "Helvetica-Light";
  font-size: 15px;
  padding-top: 10px;
}

.product-code {
  font-family: "Helvetica-Light";
  font-size: 15px;
  padding-bottom: 20px;
}

.product-price {
  font-family: "Helvetica-Medium";
  font-size: 20px;
  padding-top: 20px;
}

.rating {
  position: relative;
  top: 320px;
  left: 330px;
  max-width: 300px;
}

.td-left {
  width: 45%;
}

.tr-div {
  float: left;
  border-right: solid 1px grey;
  padding: 20px;
  min-width: 250px;
  display: inline-block;
}

.myorders-div {
  text-align: center;
  font-family: "Helvetica-Light";
  line-height: 20px;
  font-size: 14px;
}

.product-number {
  font-family: "Helvetica-Medium";
  font-size: 15px;
}

.name-product {
  font-family: "Helvetica-Bold";
  font-size: 15px;
  text-align: center;
}

#avg_product {
  font-family: "Helvetica-Medium";
}

#rating-div {
  margin: 50px;
  text-align: center;
  font-size: 30px;
  color: rgb(63, 87, 68);
  font-family: "Helvetica-Bold";
}

.rate-number {
  padding: 5px;
  font-family: "Helvetica-Medium";
  font-size: 20px;
  color: black;
}

.rate-date {
  padding: 10px;
  font-family: "Helvetica-Light";
  font-size: 18px;
  color: black;
}

.rate-name {
  padding: 10px;
  font-family: "Helvetica-Light";
  font-size: 16px;
  color: rgb(110, 110, 110);
  color: black;
  letter-spacing: 4px;
}

.rate-comment {
  padding: 10px;
  font-family: "Helvetica-Italic";
  font-size: 17px;
  color: black;
}

.review-div {
  margin: 40px;
  border-bottom: solid 1px lightgrey;
  margin-left: 180px;
  margin-right: 180px;
}

.rating-div-main {
  padding-top: 20px;
  position: relative;
}

.rating-message {
  padding-top: 10px;
  position: relative;
}

.rating-button,
.delete-rate {
  margin-top: 20px;
  position: relative;
  width: 80px;
  font-family: "Helvetica-Medium";
  text-align: center;
  height: 40px;
}

.order-delete-button,
.category-delete {
  margin-top: 10px;
  width: 30px;
}

.table-adminorders {
  margin-left: 13%;
}

#orders-div {
  width: 80%;
}

.shop-now {
  position: absolute;
  left: 65%;
  top: 67%;
  width: 150px;
  font-family: "Roboto-Light";
  text-align: center;
  height: 50px;
  font-size: 23px;
  background-color: white;
  border: solid 1px grey;
  color: rgb(99, 99, 99);
}

.shop-now:hover {
  background-color: rgb(86, 112, 91);
  color: white;
}

.review-title {
  color: rgb(63, 87, 68);
  font-size: 30px;
  font-family: "Helvetica-Bold";
  text-align: center;
  margin-top: 70px;
}

.back {
  margin-bottom: 20px;
  width: 30px;
}

.orders-background,
.report-background,
.dashboard-background {
  background: url("/img/plant4.jpeg") center center scroll;
  background-repeat: repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  opacity: 0.3;

  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.login-background {
  background: url("/img/plant2.jpg") center center scroll;
  background-repeat: repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  opacity: 0.3;

  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.radio-status-active {
  font-family: "Helvetica-Medium";
  text-align: center;
  position: absolute;
  top: 187px;
  left: 280px;
  height: 40px;
  width: 180px;
  display: inline;
}

.radio-status-all {
  font-family: "Helvetica-Medium";
  text-align: center;
  position: absolute;
  top: 187px;
  left: 420px;
  height: 40px;
  width: 180px;
  background-color: white;
  display: inline;
}

.radio-label-active {
  left: 315px;
  top: 197px;
  position: absolute;
  font-family: "Helvetica-Medium";
}

.radio-label-all {
  position: absolute;
  font-family: "Helvetica-Medium";
  top: 197px;
  left: 457px;
}

.category-name-div {
  font-family: "Cinzel", serif;
  font-size: 20px;
  left: 10%;
  text-align: center;
  font-size: 30px;
  min-height: 90px;
  padding-top: 27px;
  background-color: white;
  color: rgb(63, 87, 68);

}

.delete-rate {
  left: 20px;
  width: 120px;
}

.our-collection {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 1570px;
  text-align: center;
  background-color: white;
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: rgb(63, 87, 68);
  padding-top: 100px;
}

.top-products {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 800px;
  text-align: center;
  background-color: white;
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: rgb(63, 87, 68);
  padding-top: 100px;
}

.collection-span {
  padding-left: 60px;
  padding-right: 60px;
}

.page-title-reports {
  font-family: "Helvetica-Bold";
  position: absolute;
  top: -100px;
  left: 252px;
  max-width: 400px;
  font-size: 30px;
}

.select-all-button,
.select-button,
.select-category {
  margin-top: 20px;
  background-color: white;
  position: relative;
  width: 200px;
  font-family: "Helvetica-Medium";
  text-align: center !important;
  height: 40px;
  margin-left: 510px;
  border: solid 1px black;
  border-radius: none;
  margin-bottom: 40px;
}


.select-all-button:hover,
.select-button:hover,
.select-category:hover {
  background-color: rgb(185, 185, 185);
  color: white;
  border: none;
}

.index-img {
  position: absolute;
  top: 1700px;
  z-index: -1;
  width: 100%;
}

.myorder-back {
  left: 490px;
  top: 140px;
  width: 30px;
  position: absolute;
}

#recommends {
  position: absolute;
  top: -1237px;
  width: 100%;
  margin: 0 auto;
}

.recommend-product-div {
  float: left;
  width: 22%;
  margin-left: 160px;
  height: 440px;
  background-color: rgb(227, 227, 227);
}

.products_img_reco:hover {
  opacity: 1;
}

.name-div-reco {
  text-align: center;
  font-size: 18px;
  margin-top: 11px;
  font-family: 'Montserrat-Regular';
}

.products_img_reco {
  height: 381px;
  width: 400px;
  margin-left: 11px;
  margin-top: 10px;
  opacity: 0.7;
  z-index: 99;
}

.recommend-product-div:hover {
  background-color: rgb(172, 196, 177);
  color: white;
  opacity: 1;
}
