.welcome-pic {
    background-image: url("/img/Coconut_Bowl_Banner.jpg");
    width: 100%;
    height: 800px;
    position: relative;
    top: 0;
    bottom: 0;
}


.div_class_user {
    font-family: 'webshopFontMedium';
    margin-top: 25px;
    background: #555;
    box-sizing: border-box;
    color: #fff;
    float: left;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 16%;
    height: 150px;
}

.div_class_admin {
    font-family: 'webshopFontMedium';
    color: #fff;
    overflow: hidden;
    position: relative;
}

.div_class img {
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100px;
}

.disabled, .button-disabled {
    font-family: 'webshopFontMedium';
    display: none;
}

.enabled, .button-enabled {
    display: inline;
}

.button {
    height: 30px;
    width: 30px;
}

.product-div {
    font-family: 'webshopFontMedium';
    float: left;
    width: 20%;
    margin: 90px;
    height: 100px;
    padding: 20px;
    text-align: center;
    border: solid 2px rgb(100, 100, 100);
    border-radius: 10px;
    background-color: rgb(223, 223, 223)
}

.admin-product-div {
    font-family: 'webshopFontMedium';
    float: left;
    width: 20%;
    margin: 30px;
    height: 200px;
    padding: 20px;
    text-align: center;
    border: solid 2px rgb(100, 100, 100);
    border-radius: 10px;
    background-color: rgb(223, 223, 223)
}

.form-input{
    font-family: 'webshopFontMedium';
    width: 150px;
    float: left;
    margin-left: 30px;
}

@font-face {
  font-family: 'webshopFontLight';
  src: url('/fonts/Chevin Light.otf')
}

@font-face {
  font-family: 'webshopFontMedium';
  src: url('/fonts/Chevin Medium.otf')
}

@font-face {
  font-family: 'webshopFontBold';
  src: url('/fonts/Chevin Bold.ttf')
}